.Principal{
    
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
}
 /* INPUT */
.Input{
    width: 100%;
    box-sizing: border-box; 
    
}
.Label{
    font-weight: bold;
    display:block;
    margin-bottom: 8px;
}

.InputElement{
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    width: 100%;
    display: block;
    box-sizing: border-box;   
}
.InputElement:focus{
    outline: none;
    background-color: #ccc;

}



.Button{
    margin-bottom: 10%;
    margin-top: 15%;
}

@media (max-width: 600px) {
    .Form {
        width: 79%;
    }
}


  