.Home{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 600px) {
    .Home {
        justify-content: center;
        flex-direction: row;
    }
}